body{
	margin:0;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
nav{
	background-color: #fbc531;
	width:100%;
	text-align: center;
	color:black;
	font-family: 'courier new',verdana, roboto;
}